*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

.me{
	position: relative;
	width: 100%;
	height: 100vh;
	background: #f4c2ab;
}
nav{
	display: flex;
	width: 100%;
	margin: auto;
	padding: 0;
	align-items: center;
	justify-content: space-between;
}
nav img{
	height: 50px;
	width: 50px
}
nav ul li{
	display: inline-block;
	list-style: none;
	margin: 10px 20px;
}
nav ul li a{
	text-decoration: none;
	color: #000;
	font-weight: bolder;
}
nav ul li a:hover{
	color: #DE739E;
}
span{
	color: #DE739E;
}
.detail{
	margin-left: 8%;
	margin-top: 15%;
}
.detail h1{
	font-size: 50px;
	color: #212121;
	margin-bottom: 20px;
}
.detail p{
	color: #555;
	line-height: 22px;
}
.detail a{
	background: #212121;
	padding: 10px 18px;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	display: inline-block;
	margin: 30px 0;
	border-radius: 5px;
}
.detail a:hover{
	color: #DE739E;
}
.detail b{
	text-decoration: none;
	font-weight: bold;
	display: inline-block;
}
.detail b:hover{
	color: #DE739E;
}
.images{
	width: 45%;
	height:60%;
	position: absolute;
	bottom: 0;
	right: 100px;
}
.images img{
	height: 135%;
	position: absolute;
	left:50%;
	bottom:0;
	transform: translateX(-60%);
	transition: bottom 1s, left 1s;
}
.images:hover .h-bg{
	bottom:40px;
}
.images:hover .head{
	left: 45%
}